.section-header{

    text-align:center;

    margin-bottom:55px;
}

.section-header span{

    color:#00ffd5;

    font-size:13px;

    font-weight:600;

    letter-spacing:3px;

    text-transform:uppercase;
}

.section-header h2{

    color:white !important;

    font-size:42px;

    margin-top:12px;

    font-weight:700;

    transition:all 0.35s ease;

    cursor:default;

    display:inline-block !important;

    position:relative;

    z-index:2;
}

.hover-title:hover{

    color:#00ffd5 !important;

    transform:translateY(-4px) scale(1.05);

    text-shadow:0 0 24px rgba(0,255,213,0.5);
}

.founders{

    max-width:1200px;

    margin:120px auto;

    padding:0 24px;
}

.founder-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:28px;
}

.founder-card{

    position:relative;

    background:rgba(255,255,255,0.045);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    border-radius:24px;

    padding:38px;

    transition:0.3s;
}

.founder-card:hover{

    transform:translateY(-6px);

    border-color:rgba(0,255,213,0.25);

    box-shadow:0 0 30px rgba(0,255,213,0.08);
}

.top-line{

    width:70px;

    height:4px;

    border-radius:999px;

    background:#00ffd5;

    margin-bottom:28px;
}

.founder-card h3{

    color:white;

    font-size:28px;

    margin-bottom:12px;
}

.role{

    color:#00ffd5;

    font-size:14px;

    margin-bottom:20px;

    font-weight:600;
}

.founder-card p{

    color:#b7c9e2;

    line-height:1.8;

    font-size:15px;
}

.about-section{

    max-width:1250px;

    margin:140px auto;

    padding:0 24px;
}

.about-layout{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:28px;
}

.about-box{

    background:rgba(255,255,255,0.045);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    border-radius:24px;

    padding:34px;

    transition:0.3s;
}

.about-box:hover{

    transform:translateY(-6px);

    border-color:rgba(0,255,213,0.25);

    box-shadow:0 0 30px rgba(0,255,213,0.08);
}

.about-box h4{

    color:white;

    font-size:22px;

    margin-bottom:18px;
}

.about-box p{

    color:#b7c9e2;

    line-height:1.8;

    font-size:15px;
}

.section-header{

    transition:0.35s ease;
}

.section-header:hover h2{

    color:#00ffd5;

    transform:translateY(-4px);

    text-shadow:0 0 24px rgba(0,255,213,0.45);
}

.section-header h2{

    transition:0.35s ease;

    display:inline-block;
}
